@{
  Layout = "_Layout";
}

@using Sneuss.Models;

<h1 class="jumbotron text-center"> Welcome to the Factory</h1>

<input type="button" class="btn btn-primary" value="View Engineers" onclick="location.href='@Url.Action("Index", "Engineers")'" />
<input type="button" class="btn btn-primary" value="View Machines" onclick="location.href='@Url.Action("Index", "Machines")'" />
